In [56]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler, OneHotEncoder
from sklearn.linear_model import Ridge
import numpy as np

vg_sales_data = pd.read_csv('vgsales.csv').dropna().drop(columns=['Name', 'Rank'])

vg_sales_data

,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...
16593,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [69]:
X = vg_sales_data.drop('Global_Sales', axis=1)
y = vg_sales_data['Global_Sales']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

categorical_cols = vg_sales_data.select_dtypes(np.object_)
numeric_cols = vg_sales_data.select_dtypes(np.number)
cols = list(categorical_cols.columns)

ohe = OneHotEncoder(handle_unknown='ignore', sparse_output=False).set_output(transform='pandas')
ohetransform = ohe.fit_transform(X_train[[cols[0]]])
ohetransform

# X_train[['Platform']] = pd.get_dummies(X_train[['Platform']])
# def categories_to_nums(cols, df):
#     for col in cols:
#         df[col] = pd.get_dummies(df[col], drop_first=True)

# categories_to_nums(cols, X_train)
# categories_to_nums(cols, X_test)

# reg = LinearRegression()
# reg.fit(X_train, y_train)

,Platform_2600,Platform_3DO,Platform_3DS,Platform_DC,Platform_DS,Platform_GB,Platform_GBA,Platform_GC,Platform_GEN,Platform_GG,...,Platform_SAT,Platform_SCD,Platform_SNES,Platform_TG16,Platform_WS,Platform_Wii,Platform_WiiU,Platform_X360,Platform_XB,Platform_XOne
1688,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
661,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3758,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12416,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
7350,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13655,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5474,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
870,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
16087,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
7400,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [29]:
print("სატრენინგო მონაცემების ზომა:", X_train.shape, y_train.shape)
print("სატესტო მონაცემების ზომა:", X_test.shape, y_test.shape)

print("მოდელის მიერ ნასწავლი კოეფიციენტები/წონები:", reg.coef_)
print("მოდელის მიერ ნასწავლი bias/intercept:", reg.intercept_)

print("MSE სატრენინგო მონაცემებზე: ", mean_squared_error(y_train, reg.predict(X_train)))
print("MSE სატესტო მონაცემებზე: ", mean_squared_error(y_test, reg.predict(X_test)))

print("სატრენინგო მონაცემების ქულა: ", reg.score(X_train, y_train))
print("სატესტო მონაცემების ქულა: ", reg.score(X_test, y_test))

სატრენინგო მონაცემების ზომა: (13032, 8) (13032,)
სატესტო მონაცემების ზომა: (3259, 8) (3259,)
მოდელის მიერ ნასწავლი კოეფიციენტები/წონები: [-7.95925588e-07 -5.59548743e-06 -2.92200430e-06  3.42141979e-07
  9.99940678e-01  9.99855408e-01  1.00006770e+00  9.99395099e-01]
მოდელის მიერ ნასწავლი bias/intercept: 0.011560912233115506
MSE სატრენინგო მონაცემებზე:  2.692947708120725e-05
MSE სატესტო მონაცემებზე:  2.871387296728722e-05
სატრენინგო მონაცემების ქულა:  0.9999865396651942
სატესტო მონაცემების ქულა:  0.9999932879641356

In [30]:
df_test = pd.DataFrame(X_test)
df_test['label'] = y_test
df_test['prediction'] = reg.predict(X_test)
df_test

,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,label,prediction
3527,3,2008.0,7,5,0.52,0.01,0.00,0.04,0.57,0.570248
12216,19,2014.0,8,25,0.00,0.04,0.02,0.00,0.07,0.060257
7940,22,2015.0,8,25,0.00,0.00,0.19,0.00,0.19,0.190267
3030,14,2011.0,3,52,0.44,0.16,0.00,0.07,0.67,0.670215
7144,8,2001.0,5,150,0.16,0.06,0.00,0.00,0.22,0.220377
...,...,...,...,...,...,...,...,...,...,...
13781,16,2009.0,9,216,0.00,0.00,0.04,0.00,0.04,0.040357
15964,3,2012.0,4,508,0.00,0.01,0.00,0.00,0.02,0.010461
11193,16,2006.0,8,23,0.08,0.00,0.00,0.01,0.09,0.090297
9400,3,2006.0,1,4,0.12,0.00,0.00,0.01,0.13,0.130319
7979,0,2009.0,2,4,0.17,0.00,0.00,0.01,0.19,0.180299

In [15]:
alphas = [0.02, 0.2, 2, 20, 200]
for alpha in alphas:
    ridge_model = Ridge(alpha=alpha)
    ridge_model.fit(X_train, y_train)
    train_score = ridge_model.score(X_train, y_train)
    val_score = ridge_model.score(X_test, y_test)
    print(f"Alpha: {alpha}")
    print(f"Training score: {train_score}")
    print(f"Validation score: {val_score}")

Alpha: 0.02
Training score: 0.99998660897406
Validation score: 0.9999933338083576
Alpha: 0.2
Training score: 0.9999866027227877
Validation score: 0.9999933247320787
Alpha: 2
Training score: 0.9999859866866107
Validation score: 0.9999928612073365
Alpha: 20
Training score: 0.9999322567291165
Validation score: 0.999955901447654
Alpha: 200
Training score: 0.9975516207545829
Validation score: 0.9982018695815346

In [48]:
# Ridge with alpha = 10
ridge_model = Ridge(alpha=10)
ridge_model.fit(X_train, y_train)

train_score_ridge = ridge_model.score(X_train, y_train)
test_score_ridge = ridge_model.score(X_test, y_test)
print(train_score_ridge * 100)
print(test_score_ridge * 100)

df_test = pd.DataFrame(X_test)
df_test['label'] = y_test
df_test['prediction'] = ridge_model.predict(X_test)
df_test

99.99719899737714
99.99831850413769

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,label,prediction
3527,3529,2551,3,2008.0,7,5,0.52,0.01,0.00,0.04,0.57,0.572616
12216,12218,3483,19,2014.0,8,25,0.00,0.04,0.02,0.00,0.07,0.060545
7940,7942,5429,22,2015.0,8,25,0.00,0.00,0.19,0.00,0.19,0.189639
3030,3032,2236,14,2011.0,3,52,0.44,0.16,0.00,0.07,0.67,0.671877
7144,7146,4913,8,2001.0,5,150,0.16,0.06,0.00,0.00,0.22,0.222319
...,...,...,...,...,...,...,...,...,...,...,...,...
13781,13783,9272,16,2009.0,9,216,0.00,0.00,0.04,0.00,0.04,0.039806
15964,15967,10877,3,2012.0,4,508,0.00,0.01,0.00,0.00,0.02,0.010352
11193,11195,804,16,2006.0,8,23,0.08,0.00,0.00,0.01,0.09,0.090533
9400,9402,6370,3,2006.0,1,4,0.12,0.00,0.00,0.01,0.13,0.131258
7979,7981,5456,0,2009.0,2,4,0.17,0.00,0.00,0.01,0.19,0.181860